// WeatherCard.scss

.weather-card {
    background-color: #f8f8f8;
    color: black;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; // ✅ light grey outline
}

.weather-card__top {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.weather-card__icon {
    width: 36px;
    height: 36px;
}

.weather-card__current-temp {
    font-size: 24px;
    font-weight: 500;
}

.weather-card__time {
    text-align: center;
    margin: 5px 0 5px 0;

    .time-main {
        font-size: 64px;
        font-weight: 500;
    }

    .time-seconds {
        font-size: 24px;
        margin-left: 4px;
        font-family: 'Roboto Mono', monospace;
    }
}

.weather-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.weather-card__city {
    font-size: 24px;
    font-weight: 400;
}

.weather-card__offset {
    font-size: 16px;
    color: gray;

    padding-left: .3rem;
}

.weather-card__daytime {
    text-align: right;

    .day {
        font-size: 18px;
    }

    .ampm {
        font-size: 16px;
    }
}